html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(jc-gellidon-361849-unsplash.jpg);
  background-size: cover;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Iceberg', cursive;
  color: #16161d;
}

header {
  width: 50%;
  background-color: ghostwhite;
  border-radius: 10px;
  text-align: center;
}

img {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

a {
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 2%;
}

i {
  color: ghostwhite;
  font-size: 42px;
  position: absolute;
  top: 22%;
  z-index: 2;
}

button {
  width: 15%;
  height: 80px;
  border-radius: 10px;
  background-color: ghostwhite;
  font-family: 'Iceberg', cursive;
  font-size: 24px;
}

button:hover {
  cursor: pointer;
}

.wheel img {
  height: 500px;
  width: auto;
}
